{% extends "layout.html" %} {% block title %}Warp-Proto{% endblock %} {%block
navbar %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="../static/logo.png"
      width="30"
      height="30"
      class="d-inline-block align-top pull-left"
      alt=""
      style="padding-right: 5px;"
    />Warp-Drive</a
  >
</nav>
{%endblock%} {%block content%}
<div
  class="flex flex-col items-center font-sans md:h-screen md:bg-grey-10 dark:bg-black"
  style="background-color: black;"
>
  <div class="container">
    <div class="card text-center">
      <div class="card-header">
        <h3 style="color: darkorange;">share files fast and secure!</h3>
      </div>
      <div class="card-body">
        <form
          class="upload-form"
          action="/upload"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <label for="exampleFormControlFile1" style="color: white;"
              >select the files to send</label
            >
            <br />
            <button
              id="input_btn"
              type="button"
              class="btn btn-outline-primary btn-lg"
              style="margin-bottom: 10px;"
              onclick="thisFileUpload()"
            >
              Select files
            </button>
            <input
              type="file"
              name="file"
              class="form-control-file text-center"
              id="input_file"
            />
            <br />
            <button
              id="uploadit"
              type="submit"
              value="Upload"
              class="btn btn-primary btn-lg"
              disabled
            >
              Upload and Generate Link
            </button>
          </div>
        </form>
      </div>
      <div class="card-footer text-muted">Made by @bdui</div>
    </div>
  </div>
</div>
{%endblock%}
