{% extends "layout.html" %} {% block title %}Warp-Proto{% endblock %} {%block
content%}
<div
  class="flex flex-col items-center font-sans md:h-screen md:bg-grey-10 dark:bg-black"
>
  <div class="form-group">
    <div class="text-center">
      <div class="card-header">
        <h3><p style="color: white;">Get the file from the below link</p></h3>
      </div>
      <div class="container">
        <input
          type="text"
          name="text"
          id="link-text"
          class="form-control-file"
          value="{{key}}"
          style="width: 60%; height: 50px; border-radius: 5px;"
          readonly
        />
        <br />
        <button
          class="btn btn-outline-warning"
          onclick="myFunction()"
          style="margin-top: 10px; background-color: orange;"
        >
          Copy link
        </button>
      </div>
    </div>
  </div>
</div>
{%endblock%}
